*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
   
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

header{
    background-color: #EAC926;
}
.top-header{
    margin: 0 auto;
}

.logo_search{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo_search .form{
    display: flex;
    width: 50%;
    font-size: 15px;
    max-height: 20px;
}

header div.logo{
    display: flex;
    width: 50%;
    padding: 10px;
    justify-content: center;
}

header div.logo img{
    max-height: 40px;
}

header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header form button{
    border: 0px;
    margin-left: 5px;
    background-color: #EAC926;
}
.top-header{
    text-align: center;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: rgb(23, 61, 212);
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

article div.main-article{
    width: 100%;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3{
    color: #666;
    text-align: left;
    /*margin-left: 3.5rem;*/
    margin-bottom: 20px;
}
.offers h3{
    margin-top: 20px;
}
.description{
    color: #666;
    margin-left: 92px;
    padding-bottom: 10px;
    padding-left: 12px;
}
.description{
    display: none;
    margin: 30px 0;
    transition: 0.25 ease-out;
}
.main-article:hover .description{
    display: block;
}


section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 20px auto;

}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
}

main section article{
    background-color: #fff;
    max-width: 300px;
    margin: 5px;
}

main section article img{
    width: 100%;
    border-bottom: 0.5px solid #e4e2e2;
}

main section article i,
.discount{
    color: #39b54a;
    padding-left: 10px;
}

.main-article .precios{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.main-article .precios .price{
    width: 30%;
    padding-left: 15px;
}

.main-article .precios .discount{
    width: 70%;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    float: right;
    margin-right: 20px;
    position: relative;
    bottom: 18px;
}

.nav_1y2{
    display: flex;
    width: 100%;
    justify-content: space-around;
    display: none;
    padding: 15px 0px;
}

.nav_1{
    display: flex;
} 

.nav_1 li , .nav_2 li{
    margin: 0px 10px;
}
.nav_2{
    display: flex;
} 
footer{
    background-color: #fff;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
footer section div{
    padding: 40px 20px 0px 20px;
    max-width: 400px;
}
footer section div i{
    color: rgb(23, 61, 212);
    font-size: 2em;
    margin: 0 auto;
    padding-bottom: 10px;
    transition: all 500ms ease; 
    
}
footer section div i:hover{
color: #d8ce40
}
.text-footer {
    color: #666;
    text-align: center;
    line-height: 15px;
    }
footer section div h4{
    font-size: 16px;
    color: #666;
    text-align: center;
}
.rights {
    color: #666;
    text-align: left;
    padding: 40px 0px 20px 20px
}

@media (min-width: 361px){
    main article{
        box-shadow : 0px 0px 8px rgb( 100 , 100 , 100 );
    }
    .products{
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        max-width: 700px ;
        margin: auto;
    }
    h3{
        margin-left: 3.5rem;
    }
}

@media (min-width: 769px){
    .nav_1y2{
        display: flex;
    }
    .burger-menu{
        display: none;
    }
    .products{
        max-width: 1400px ;
        margin: auto;
    }
    .top-header{
        padding: 10px;
        max-width: 1200px;
    }
    .top-header{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;  
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
    }
    .copy-header{
        max-width: 250px;
        text-align: right;
        flex-grow: 2;
    }
    .copy-header, .logo_search{
        flex-basis: 800px;
    }
    .logo_search{
        flex-shrink: 3;
    }

    .description{
        margin: 20px 0;
        padding-left: 12px;
    }
    footer section{
        display: flex;
        justify-content: space-around;
    }
    footer section div{
        max-width: 420px;
        line-height: 30px;
    }
    .rights{
        align-self: flex-start;
    }
}